#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/*
 * Compound modifiers.
 *
 * ZMK permits modifier functions to be nested and applied to
 * modifier keycodes, so these represent held modifier combinations.
 */
#define MEH   LS(LA(LCTRL))
#define HYPER LG(LS(LA(LCTRL)))

/*
 * Thumb 3:
 *   tap  -> next layer
 *   hold -> Hyper
 *
 * Custom hold-taps use two binding cells:
 *   first  parameter -> hold behavior
 *   second parameter -> tap behavior
 */
#define NEXT_LAYER(behavior, layer) behavior HYPER layer

/ {
    behaviors {
        next_layer: next_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&to>;
        };

        /*
         * Space:
         *   tap  -> Space
         *   hold -> Meh
         */
        space_meh: space_meh {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /*
         * 0 NORMAL
         *
         * Q W F P B | J L U Y ;
         * A R S T G | M N E I O
         * Z X C D V | K H , . /
         *
         * T1 T2 T3 | T4 T5 T6
         */

        normal_layer {
            display-name = "NORMAL";

            bindings = <
                &kp Q
                &kp W
                &kp F
                &kp P
                &kp B

                &kp J
                &kp L
                &kp U
                &kp Y
                &kp SEMI

                &kp A
                &mt LALT R
                &mt LGUI S
                &mt LCTRL T
                &kp G

                &kp M
                &mt RCTRL N
                &mt RGUI E
                &mt RALT I
                &kp O

                &kp Z
                &kp X
                &kp C
                &kp D
                &kp V

                &kp K
                &kp H
                &kp COMMA
                &kp DOT
                &kp FSLH

                &sk LSHIFT
                &kp BACKSPACE
                &next_layer HYPER 1
                &kp ENTER
                &space_meh MEH SPACE
                &key_repeat
            >;
        };

        /*
         * 1 ONESHOT / SYMBOLS
         */

        oneshot_layer {
            display-name = "ONESHOT";

            bindings = <
                &kp EXCL
                &kp AT
                &kp HASH
                &kp DLLR
                &kp PRCNT

                &kp CARET
                &kp AMPS
                &kp ASTERISK
                &kp TILDE
                &kp EQUAL

                &kp ESC
                &kp LEFT_PARENTHESIS
                &kp RIGHT_PARENTHESIS
                &kp LEFT_BRACE
                &kp RIGHT_BRACE

                &kp PLUS
                &to 2
                &to 3
                &kp UNDERSCORE
                &kp GRAVE

                &kp TAB
                &kp LEFT_BRACKET
                &kp RIGHT_BRACKET
                &kp LT
                &kp GT

                &kp BSLH
                &kp PIPE
                &kp APOS
                &kp DQT
                &kp QUESTION

                &sk LSHIFT
                &kp BACKSPACE
                &next_layer HYPER 2
                &to 0
                &space_meh MEH SPACE
                &key_repeat
            >;
        };

        /*
         * 2 NAV MAIN
         *
         * `   sL  mU  sR  Quit | Back PrevTab NextTab Forward Backspace
         * Esc mL  mD  mR  Del  | Left Down    Up      Right   Enter
         * Tab rC  sU  sD  &    | lC   Accel1  Accel2  Accel3  &
         */

        nav_layer {
            display-name = "NAV";

            bindings = <
                &kp GRAVE
                &msc SCRL_LEFT
                &mmv MOVE_UP
                &msc SCRL_RIGHT
                &kp LG(Q)

                &kp C_AC_BACK
                &kp LS(LC(TAB))
                &kp LC(TAB)
                &kp C_AC_FORWARD
                &kp BACKSPACE

                &kp ESC
                &mmv MOVE_LEFT
                &mmv MOVE_DOWN
                &mmv MOVE_RIGHT
                &kp DELETE

                &kp LEFT
                &kp DOWN
                &kp UP
                &kp RIGHT
                &kp ENTER

                &kp TAB
                &mkp RCLK
                &msc SCRL_UP
                &msc SCRL_DOWN
                &kp AMPS

                &mkp LCLK
                &mmv MOVE_X(300)
                &mmv MOVE_X(600)
                &mmv MOVE_X(1200)
                &kp AMPS

                &sk LSHIFT
                &kp BACKSPACE
                &next_layer HYPER 3
                &to 0
                &space_meh MEH SPACE
                &key_repeat
            >;
        };

        /*
         * 3 NUMBER / UTILS
         */

      num_layer {
          display-name = "NUM";

          bindings = <
              &kp AMPS
              &kp C_PP
              &kp C_PREV
              &kp C_NEXT
              &kp AMPS

              &none
              &kp N7
              &kp N8
              &kp N9
              &kp BACKSPACE

              &kp ESC
              &kp AMPS
              &kp C_VOL_DN
              &kp C_VOL_UP
              &kp AMPS

              &kp EQUAL
              &kp N4
              &kp N5
              &kp N6
              &kp ENTER

              &kp TAB
              &kp AMPS
              &kp C_BRI_DN
              &kp C_BRI_UP
              &kp AMPS

              &kp N0
              &kp N1
              &kp N2
              &kp N3
              &kp AMPS

              &sk LSHIFT
              &kp BACKSPACE
              &next_layer HYPER 0
              &to 0
              &space_meh MEH SPACE
              &key_repeat
          >;
      };
    };
};

/*
 * Mouse support is enabled in your .conf with:
 *
 *     CONFIG_ZMK_POINTING=y
 *
 * The mouse behaviors themselves are documented ZMK behavior bindings.
 */
